<template>
  <page-component>
    <template #drawer>
      <page-drawer/>
    </template>
    <template #content>
      <page-content/>
    </template>
  </page-component>
</template>

<script>
import pageComponent from '../commons/page-component.vue'
import pageDrawer from './page-drawer.vue'
import pageContent from './page-content.vue'

export default {
  components: {
    'page-component': pageComponent,
    'page-content': pageContent,
    'page-drawer': pageDrawer,
  }
}
</script>
