<template>
  <md-card class="md-elevation-0">
    <div class="md-layout">
      <md-autocomplete class="md-layout-item"
        v-model="selectedGoods" :md-options="goodsList"
        md-layout="box" md-dense>
        <label>Input the goods name.</label>
      </md-autocomplete>
      <md-button class="md-layout-item md-raised md-accent md-size-15"
        style="margin: 10px 15px"
        @click="addTransactionItem" :disabled="disabledAddTransactionItemButton">
        添加
      </md-button>
    </div>
    <!--
    <md-table md-card v-model="transactionItems">
      <md-table-row slot="md-table-row" slot-scope="{ item }"
        md-selectable="multiple" md-auto-select>
        <md-table-cell md-label="商品名称">{{ item.goodsName }}</md-table-cell>
        <md-table-cell md-label="商品单价">{{ item.unitPrice }} / {{ item.unit }}</md-table-cell>
        <md-table-cell md-label="商品数量" class="md-size-15">
          <md-field>
            <md-input v-model="item.quantity" type="number"></md-input>
          </md-field>
        </md-table-cell>
      </md-table-row>
    </md-table>
  -->
  </md-card>
</template>

<script>
export default {
  data: () => ({
    selectedGoods: null,
    goodsList: [ 'app' ],
    disabledAddTransactionItemButton: true
  }),
  methods: {
    addTransactionItem: () => {
      
    }
  },
  computed: {
    canAddTransactionItem: function() {
      if (this.selection == null || this.selectionGoods == '') return false
      for (let goods in this.goodsList)
        if(this.selectedGoods == goods) return true
      return false
    }
  },
  watch: {
    selectedGoods: () => {
      this.disabledAddTransactionItemButton = this.canAddTransactionItem()
    }
  }
}
</script>
