<template>
  <md-card class="login-card">
    <md-toolbar class="md-accent" :md-elevation="0">
        <span class="md-title">
          登录EStore
        </span>
    </md-toolbar>
    <md-card-content>

      <md-list>
        <md-list-item>
          <md-field>
            <md-select v-model="identity">
              <md-option value="cashier">收银员</md-option>
              <md-option value="shopKeeper">店长</md-option>
            </md-select>
          </md-field>
        </md-list-item>

        <md-list-item>
          <md-field>
            <label>账号</label>
            <md-input v-model="user"></md-input>
          </md-field>
        </md-list-item>

        <md-list-item>
          <md-field>
            <label>密码</label>
            <md-input v-model="password" type="password"></md-input>
          </md-field>
        </md-list-item>

        <md-list-item>
          <md-button
            class="md-raised md-accent"
            style="margin: auto;">
            登录
          </md-button>
        </md-list-item>
      </md-list>

    </md-card-content>
  </md-card>
</template>


<style>
.login-card {
  position: absolute !important;
  margin: auto;
  display: block;
  max-width: 320px;
  max-height: 420px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
</style>

<script>
export default {
  data: () => ({
    identity: 'cashier',
    user: '0001',
    password: ''
  })
}
</script>
