<template>
  <md-app md-waterfall md-mode="fixed">
    <md-app-toolbar class="md-accent">
      <md-button class="md-icon-button" @click="menuVisible = !menuVisible">
        <md-icon>menu</md-icon>
      </md-button>
      <span class="md-title">{{ appName }}</span>
    </md-app-toolbar>

    <md-app-drawer :md-active.sync="menuVisible" :md-swipeable="true" md-permanent="full">
      <slot name="drawer"></slot>
    </md-app-drawer>

    <md-app-content>
      <slot name="content"></slot>
    </md-app-content>
  </md-app>
</template>

<script>
export default {
  data: () => ({
    appName: "estore",
    menuVisible: false
  })
}
</script>

<style>
@media screen and (min-width:600px) {
  .md-app .md-app-toolbar .md-button {display:none;}
}
.md-app {
  position: absolute !important;
  top: 0 !important; bottom: 0 !important;
  left: 0 !important; right: 0 !important;
}
</style>
